h2.main-header(ng-show="!createMode") {{tableName}}
h2.main-header(ng-hide="!createMode") Основная таблица

//input.form-control.input-lg(type="text", ng-model="toDelete", ng-disabled="!createMode && !edit")
//button(ng-click="removeElement(toDelete)") Удалить

.for-table.panel.panel-default
    .panel-heading(ng-if="createMode") Ввод результатов тестирования
    .panel-body(ng-if="createMode").
        В поля слева введите фамилии студентов. В клетках на пересечении с номерами заданий отметьте верные ответы.
        Затем для анализа результатов нажмите на кнопку "Анализ результатов". Для сохранения
        <span ng-show='userIdentity.isAuthorised()'>- на кнопку "Сохранить"</span>
        <span ng-hide='userIdentity.isAuthorised()'>aвторизуйтесь под своим профилем</span>.
    .panel-heading(ng-if="!createMode")
        span(ng-show="edit") Режим редактирования результатов
        span(ng-hide="edit") Режим просмотра
    .panel-body(ng-if="!createMode")
        span(ng-show="edit").
            В режиме редактирования вы можете изменять введенные данные и повторно проводить анализ результатов.
            Для сохранения изменений нажмите кнопку "Сохранить".
            <span class="text-danger">В противном случае измененные данные сохранены не будут.</span>
        span(ng-hide="edit").
            В этом режиме вы можете просматривать сохраненные данные.
            Для перехода в режим редактирования нажмите "Редактировать".
    .btn-group.col-xs-10.col-xs-offset-1.main-buttons
        button.btn.btn-default.col-xs-6(ng-click="toggleEdit()", ng-if="!createMode && !edit") Редактировать
        button.btn.btn-default.col-xs-6(ng-if="!createMode", ng-hide="createMode || !edit", ng-click="updateTable()") Сохранить изменения
        button.btn.btn-default.col-xs-6(ng-click="showSaveModal()", ng-if="createMode", ng-disabled="!userIdentity.isAuthorised()") Сохранить
        //button.btn.btn-default.col-xs-6(ng-hide="userIdentity.isAuthorised() && createMode || !createMode", disabled="true") Авторизуйтесь, чтобы сохранить результат
        button.btn.btn-default.col-xs-6(ng-click="check()", ng-disabled="!edit") Анализ результатов

    .clearfix
    table.table-striped.table-bordered.table(id="main-table")
        tr
            th(rowspan="2") Испытуемые
            th(colspan="{{wrightAnswersArray[0].problems.length}}") Задания
            th(rowspan="2") Сумма
            th(rowspan="2") Сумма<sup>2</sup>
        tr
            th(ng-repeat="elem in wrightAnswersArray[0].problems" track $index) {{elem[1]}}
                span.glyphicon.glyphicon-remove(ng-click="removeElement(''+elem[1])")
        tr(ng-repeat="student in wrightAnswersArray track by $index")
            td.name-td
                input.form-control(ng-model="student.name", placeholder="Введите фамилию ученика")
                span.glyphicon.glyphicon-remove(ng-click="removeElement(student.name)")
            td.check(ng-click="edit && tableService.toggleProblem(problem)", ng-repeat="problem in student.problems track by $index")
                input(type="checkbox", ng-checked="problem[0]>0", ng-disabled="!edit")
            td(ng-init="arraySum = tableService.rightArray[$index]") {{tableService.rightArray[$index]}}
            td {{tableService.rightArray[$index]*tableService.rightArray[$index]}}
        tr
            td Количество решенных
            td(ng-repeat="elem in tableService.downArray track by $index") {{elem}}
        tr
            td Количество нерешенных
            td(ng-repeat="elem in tableService.downArray track by $index",
            ng-if="$index<tableService.downArray.length-2") {{wrightAnswersArray.length - elem}}
            td(rowspan=3, colspan="2")  &Sigma;p<sub>j</sub> = {{tableService.partSolvedSum}}
        tr
            td Доля решенных (p<sub>j</sub>)
            td(ng-repeat="elem in tableService.downArray track by $index",
            ng-if="$index<tableService.downArray.length-2") {{(elem/wrightAnswersArray.length).toFixed(2)}}
        tr
            td Доля нерешенных (q<sub>j</sub>)
            td(ng-repeat="elem in tableService.downArray track by $index",
            ng-if="$index<tableService.downArray.length-2") {{(1-elem/wrightAnswersArray.length).toFixed(2)}}
        tr
            td Дисперсия (p<sub>j</sub>q<sub>j</sub>)
            td(ng-repeat="elem in tableService.downArray track by $index",
            ng-if="$index<tableService.downArray.length-2").
             {{((elem/wrightAnswersArray.length)*(1-elem/wrightAnswersArray.length)).toFixed(2)}}
            td(rowspan="2", colspan="2") &Sigma;p<sub>j</sub>q<sub>j</sub> = {{tableService.dispersionSum}}
        tr
            td Отклонение
            td(ng-repeat="elem in tableService.downArray track by $index",
            ng-if="$index<tableService.downArray.length-2").
             {{(tableService.sqrt((elem/wrightAnswersArray.length)*(1-elem/wrightAnswersArray.length))).toFixed(2)}}

h2.main-header Корреляционная таблица
.for-correlation-table
    table.table.table-striped.table-bordered(id="correlation-table")
        tr
            th №
            th(ng-repeat="elem in tableService.correlationArray track by $index") {{elem[0]}}
        tr(ng-repeat="arr in tableService.correlationArray track by $index | orderBy: arr[0]",
        ng-if="$index<tableService.correlationArray.length-1")
            th {{arr[0]}}
            td(ng-repeat="elem in arr track by $index" ng-if="$index>0") {{elem}}
        tr
            th Сумма
            td(ng-repeat="elem in tableService.downCorrelationArray track by $index") {{elem}}
        tr
            th Среднее
            td(ng-repeat="elem in tableService.downCorrelationArray track by $index").
             {{(elem/tableService.downCorrelationArray.length).toFixed(3)}}
        tr
            th Среднее<sup>2</sup>
            td(ng-repeat="elem in tableService.downCorrelationArray track by $index").
             {{(elem/tableService.downCorrelationArray.length*elem/tableService.downCorrelationArray.length).toFixed(4)}}

.checkDiv.list-group.check-elem
